*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     display: flex;
     flex-direction: column;
     height: 100vh;
     justify-content: center;
     align-items: center;
     background-image: linear-gradient(rgb(2, 31, 58), rgb(3, 63, 78) ,rgb(42, 103, 143))  ;
  

}
.mg-1
{
    margin: 10px;
}
.pd-1
{
    padding:5px;
}
.pd-2
{
    padding:10px;
}
.pd-3
{
    padding:15px;
}
.center{
    text-align:center;
}
.container{
    background-color: rgb(240, 243, 196);
    padding: 17px;
    border-radius: 11px;
    box-shadow: 0 4px 9px;
    width: 40%;
    margin: 11px;
   
}
.container h4
{
    font-size: 1.5rem;
    text-align: center;
    margin: 1.5rem .5rem;
}

div
{
display: flex;
flex-direction: column;

}

.btn{
    width: 40%;
    box-sizing: border-box;
    display: block;
    margin: auto;
    border-radius: 3px;
    background-color:  rgb(3, 133, 3);
    color:white;
    border: none;
    padding: .5rem 1rem;
    font-size: .8rem;
    font-weight: bold;
    cursor: pointer;
}
.btn:hover{
    opacity: .8;
}
.input
{
    width:90%;
    margin:.4rem;
}