*
{
    box-sizing: border-box;
    margin:0px;
    padding:0px;
   
    
}
body
{
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    height:100vh;
    background-image: url('https://mdbootstrap.com/img/Photos/Others/images/76.jpg')
}
#container h1
{
    font-size: 2.5rem; 
}
.container
{
    
width:40%;
margin-top:10%;
padding:2rem;
border-radius: 10px;
}
.input
{
    border-radius:.2em;
    border:1px solid  grey ;
    width:80%;
    padding:.2em;
    margin-bottom:.5rem;

}
.weather
{
    text-align:center;
    display: none;
}
.dark-mode .container
{
background: #333 !important ;
color: aliceblue !important;
}
.details
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
 img{
    width: 20%;
    height:15%;
}
.temp{
    margin-left: 0px;
}
.error
{
    display: none;
}

@media (max-width:450px)
{
    #container h1
    {
        font-size: 1.3rem; 
    }
    .container
    {
        
    width:75%;
    margin-top:10%;
    padding:2rem;
    border-radius: 10px;
    }
    .details
    {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        align-items: center;
        justify-content: space-between;
    }

}
